absl-py==2.1.0
aiofiles==22.1.0
aiosqlite==0.19.0
annotated-types==0.5.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astor==0.8.1
astunparse==1.6.3
attrs==23.2.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.0.0
blis==0.7.11
cached-property==1.5.2
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.6.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
confection==0.1.5
cycler==0.11.0
cymem==2.0.8
debugpy==1.7.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
dj-database-url==2.2.0
Django==3.2.25
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#sha256=60b69065c97fd2e4972c33300205e1dead3501d2e0bfd6a182c3a033e337caee
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fastjsonschema==2.19.1
filelock==3.12.2
flatbuffers==24.3.25
fonttools==4.38.0
fqdn==1.5.1
gast==0.4.0
google-auth==2.30.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.2
gunicorn==22.0.0
h5py==3.8.0
idna==3.7
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
json5==0.9.16
jsonpointer==3.0.0
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyter_server_fileid==0.9.2
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.24.0
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.3.0
libclang==18.1.1
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
murmurhash==1.0.10
nbclassic==1.1.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.6.0
notebook==6.5.7
notebook_shim==0.2.4
numpy>=1.22.0
oauthlib==3.2.2
opencv-python==4.10.0.82
openpyxl==3.1.3
opt-einsum==3.3.0
packaging==24.0
pandas==1.1.5
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
Pillow==9.5.0
pipdeptree==2.9.6
pkgutil_resolve_name==1.3.10
plac==1.4.3
platformdirs==4.0.0
preshed==3.0.9
prometheus-client==0.17.1
prompt_toolkit==3.0.47
protobuf==3.19.6
psutil==5.9.8
psycopg2-binary==2.9.9
PuLP==2.8.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
PyMySQL==1.1.1
pyparsing==3.1.2
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
pywinpty==2.0.10
PyYAML==6.0.1
pyzmq==26.0.3
requests==2.31.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
soupsieve==2.4.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.4
srsly==2.4.8
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
thinc==8.2.4
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
torch==1.13.1
tornado==6.2
tqdm==4.66.4
traitlets==5.9.0
typer==0.12.3
typing_extensions==4.7.1
uri-template==1.3.0
urllib3==2.0.7
vaderSentiment==3.3.2
virtualenv==20.26.2
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
wrapt==1.16.0
xlrd==2.0.1
y-py==0.6.2
ypy-websocket==0.8.4
zipp==3.15.0
