Django
gunicorn
dj-database-url
psycopg2-binary
absl-py
aiofiles
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astor
attrs
Babel
backcall
beautifulsoup4
bleach
blis
cached-property
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cycler
cymem
debugpy
decorator
defusedxml
distlib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#sha256=60b69065c97fd2e4972c33300205e1dead3501d2e0bfd6a182c3a033e337caee
entrypoints
et-xmlfile
exceptiongroup
fastjsonschema
filelock
fqdn
gast
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
langcodes
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python
openpyxl
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkgutil_resolve_name
plac
platformdirs
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
PuLP
pycparser
pydantic
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
six
scikit-learn
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
thinc
threadpoolctl
tinycss2
tomli
torch
tornado
tqdm
traitlets
typer
typing_extensions
uri-template
urllib3
vaderSentiment
virtualenv
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
Werkzeug
wrapt
xlrd
y-py
ypy-websocket
zipp
